<% include ('../partials.boilerplate') %>

<form method="POST" action='/todo'>
<input name="name" type="text" placeholder="name" />
<input name="description" type="text" placeholder="description" />
</form>

<%- include ('../partials/end') %> 