<%- include ('../partials/boilerplate') %>

<div class="todo">
    <% } %>
        <h3><%= todo.name%></h3>
        <p><%= todo.description %></p>
        <a href="/todo/">see all to dos</a>
</div>

<%- include ('../partials/end') %>